{% extends 'base.html' %}

{% block content %}

{% verbatim %}

    <div id="app">
        <v-app>
        <form>
            <div class="row">
                <div class="col-9 d-flex align-center justify-center">
                    <v-text-field outlined label="Tarefa" v-model="task">

                    </v-text-field>
                    <v-btn type="submit" class="ml-4 mb-6">Create</v-btn>
                
                </div>
            </div>
        </form>

        <v-card
    
    max-width="100%"
  >
    <v-card-text>
      <p class="text-h4 text--primary">
        {{ task }}
      </p>
      <p>data</p>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="deep-purple accent-4"
      >
        Learn More
      </v-btn>
    </v-card-actions>
  </v-card>
    </v-app>
    </div>

{% endverbatim %}
{% endblock content %}
